**Theoritical question**

1. What are data structures?
  * Ways to store and organize data to use it efficiently.





2. Mutable vs Immutable:

   -  Mutable: Can change e.g., list, dict

   -  Immutable: Can't change (e.g., str,tuple)

3. List vs Tuple:

* List:Mutable, slow, uses [ ]
* Tuple:Immutable, fast, uses `()`



4. How do dictionaries store data?
 - Using key-value pairs in a hash table.

5. Why use a set over a list?
- To remove duplicates and check values faster.

6. String vs List?

* String: Text, immutable
* List:Multiple data types, mutable

7. How do tuples ensure data integrity?
 - They can't be changed after creation.

8. What is a hash table?
- A system to store data using key hashing — used by dictionaries.


9. Can lists hold different types?
 - Yes. A list can have numbers, strings, etc.

10. Why are strings immutable?
 - To save memory and make them safe to use as keys.

11. Dictionary vs List
-  stores data as key-value pairs. we access data using keys. It’s fast and best for labeled data like names and ages.
Example: {"name": "Ali", "age": 20}
- List stores items in order. we access data using index numbers. It’s good for sequences.
Example: ["Ali", 20]

12. When use a tuple over a list?

- When data shouldn’t change or as dict keys.


13. How do sets handle duplicates?
- They remove them automatically.

14. “in” in list vs dictionary:

* List: checks values
* Dictionary: checks keys

15. Can you change a tuple?
- No, tuples are unchangeable.

16. What is a nested dictionary?
- A dictionary inside another.
Example: Student marks by subject.

17. Dictionary access time:
- Usually O(1) (very fast).


18. When prefer lists over dictionaries?
- When order or index is important.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they store data by keys, not positions. we can't access items by index like in a list.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list, we get data by index number: list[0]
- In a dictionary, we get data by key: dict["name"]
So, lists use positions, and dictionaries use names (keys) to retrieve data.

### Practical questions answer

1. Write a code to create a string with your name and print it

In [1]:
name = "Anuj"
print(name)

Anuj

2.Find the length of the string "Hello World"

In [2]:
string = "Hello World"
print(len(string))

11

3. Slice the first 3 characters from the string "Python Programming"

In [3]:
string = "Python Programming"
print(string[:3])

Pyt

4. Convert the string "hello" to uppercase.

In [4]:
string = "hello"
print(string.upper())

HELLO

5. Replace the word "apple" with "orange" in the string "I like apple"

In [5]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

 6. Create a list with numbers 1 to 5 and print it:

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Append the number 10 to the list [1, 2, 3, 4]

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Remove the number 3 from the list [1,2,3,4,5]

In [10]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Access the second element in the list \['a', 'b', 'c', 'd']

In [11]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Reverse the list \[10, 20, 30, 40, 50]

In [13]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it

In [14]:
my_tuple = (100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [15]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

13. Find the minimum number in the tuple (10, 20, 5, 15)

In [16]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [17]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index("cat"))

1

15. Create a tuple containing three different fruits and check if "kiwi" is in it

In [18]:
fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

False

16. Create a set with the elements 'a', 'b', 'c' and print it

In [19]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

17. Clear all elements from the set {1, 2, 3, 4, 5}

In [20]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Remove the element 4 from the set {1, 2, 3, 4}

In [21]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [23]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

21. Create a dictionary with the keys "name", "age", and "city", and print it

In [24]:
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [25]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [26]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [27]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [28]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

26. Create a list, a tuple, and a dictionary, and print them all

In [29]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'name': 'Alice', 'age': 30}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'name': 'Alice', 'age': 30}

27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [30]:
import random
random_list = random.sample(range(1, 101), 5)
random_list.sort()
print(random_list)

[21, 58, 67, 95, 98]

28. Create a list with strings and print the element at the third index

In [31]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

29. Combine two dictionaries into one and print the result

In [32]:
dict1 = {"name": "John", "age": 25}
dict2 = {"city": "New York", "job": "Developer"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'John', 'age': 25, 'city': 'New York', 'job': 'Developer'}

30. Convert a list of strings into a set

In [33]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'cherry'}